body {
  background-color: rgb(31, 31, 31);
}

.name {
  color: rgb(241, 241, 241);
  font-family: "Roboto Mono", monospace;
  text-align: center;
}

.developers {
  color: rgb(241, 241, 241);
  font-family: "Roboto Mono", monospace;
  text-align: center;
}
